<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Task Name - <%= task.name %>
    </h3>
    <h3>Problem Statement - <%= task.description %>
    </h3>
    <h3>Maximum Points - <%= task.maximum_points %>
    </h3>
    <form method="POST" action="/task/<%= task._id %>/submit">
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <input name="files" type="file">
        <button>Submit</button>
    </form>
</body>

</html>