<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/task/assign_task.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h3><a href="/manager/dashboard">Task- Dashboard</a></h3>
        <div>
            <li><a href="/task">Add-Task</a></li>
            <li><a href="/logout">Logout</a></li>
        </div>
    </nav>
    <form method="POST" action="/task/<%= task_id%>/assign">
        <input type="number" placeholder="maximum-points" name="maximum_points" min="1" max="500" required>
        <input type="datetime-local" placeholder="deadline" name="deadline" required>
        <input type="text" name="status" value="pending" hidden readonly>
        <select name="worker_id">
            <% workers.forEach((worker)=>{ %>
                <option value="<%= worker._id %>"><%= worker.name %></option>
            <% }) %>
        </select>
        <button>Assign</button>
    </form>
</body>

</html>