<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/task/edit_task.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h3><a href="/manager/dashboard">Task- Dashboard</a></h3>
        <div>
            <li><a href="/task">Add-Task</a></li>
            <li><a href="/logout">Logout</a></li>
        </div>
    </nav>
    <form id="edit-task-form" action="/task/<%= task._id %>?_method=put" method="POST">
        <input type="text" value="<%= task.name %>" name="name" required>
        <textarea ><%= task.description %></textarea>
        <button>Edit</button>
    </form>
</body>


</html>