<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/task/submit_task.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h3><a href="/dashboard/worker">Task- Dashboard</a></h3>
        <div>
            <li><a href="/logout">Logout</a></li>
        </div>
    </nav>
    
    <form method="POST" action="/task/<%= task._id %>/submit" enctype="multipart/form-data">
        <div style="width: 100%; margin-left: 50px;">
            <h4>Task Name - <%= task.name %>
            </h4>
            <h4>Problem Statement - <%= task.description %>
            </h4>
            <h4>Maximum Points - <%= task.maximum_points %>
            </h4>
            <h4>Solution</h4>
        </div>
        <input type="text" value="submitted" name="status" readonly hidden>
        <textarea name="text" id="" cols="30" rows="10" required></textarea>
        <input name="file" type="file">
        <button>Submit</button>
    </form>
</body>

</html>