<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h3><a href="/">Task- Dashboard</a></h3>
        <div>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
        </div>    
    </nav>
    <section>
        <h1>Manager</h1>
        <li>Create tasks and then assign them to workers.</li>
        <li>Wait for the workers to submit the task and then rate the solution.</li>
        <li>Search throught the tasks using a date filter.</li>
        <h1>Worker</h1>
        <li>Check pending tasks from all the managers.</li>
        <li>Submit the solution and wait for the managers to review them.</li>
        <li>Check entire submission history.</li>
    </section>
</body>
</html>