<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>

<body>
    <nav>
    <h3><a href="/">Task- Dashboard</a></h3>
        <div>
            <li><a href="/login">Login</a></li>
        </div>
    </nav> 
    <form method="POST" action="/register">
        <h1>REGISTER</h1>
        <select name="access">
            <option value="manager">Manager</option>
            <option value="worker">Worker</option>
        </select>
        <input type="text" name="name" placeholder="name" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="text" name="phone" placeholder="phone" pattern="[1-9]{1}[0-9]{9}" required>
        <input type="password" name="password" placeholder="password" required>
        <button>Submit</button>
    </form>
</body>

</html>