<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/manager/dashboard.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h3><a href="">Task- Dashboard</a></h3>
        <div>
            <li><a href="/task/add">Add-Task</a></li>
            <li><a href="/logout">Logout</a></li>
        </div>
    </nav>
    <div class="task-classification-div">
        <div class="task-div" style="border-right:1px solid black ;">
            <div class="task-inner-div">
                <h3>Unassigned Tasks</h3>
                <div class="filter-div">
                    <input type="date" id="unassigned-date-input">
                    <button id="unassigned-search-btn">Search</button>
                </div>
            </div>
            <div class="pagination-div">
                <button id="unassigned-decrement-button">
                    < </button>
                        <button id="unassigned-increment-button">></button>
            </div>
        </div>
        <div class="task-div"">
            <div class=" task-inner-div">
            <h3>Assigned Tasks</h3>
            <div class=" filter-div">
                <input type="date" id="assigned-date-input">
                <select id="assigned-select-input">
                    <option value="pending">Pending</option>
                    <option value="submitted">Submitted</option>     
                </select>
                <button id="assigned-search-btn">Search</button>
            </div>
        </div>
        <div class="pagination-div">
            <button id="assigned-decrement-button">
                < </button>
                    <button id="assigned-increment-button">></button>
        </div>
    </div>
    <div class="task-div" style="border-left:1px solid black ;">
        <div class="task-inner-div">
            <h3>Reviewed Tasks</h3>
            <div class=" filter-div">
                <input type="date" id="reviewed-date-input">
                <select id="reviewed-select-input">
                    <option value="approved">Approved</option>
                    <option value="rejected">Rejected</option>
                </select>
                <button id="reviewed-search-btn">Search</button>
            </div>
        </div>
        <div class="pagination-div">
            <button id="reviewed-decrement-button">
                < </button>
                    <button id="reviewed-increment-button">></button>
        </div>
    </div>
    </div>
</body>
<script src="/manager/dashboard.js"></script>
<script>

</script>

</html>